<div class="slide">
  <div class="productImage clearfix">
    <%= image_tag(featured_product.images[0].attachment(:product)) %>
    <div class="productMasking">
      <ul class="list-inline btn-group" role="group">
        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="productCaption clearfix">
    <h5><%= link_to featured_product.name, controller: 'potepan/products', action: 'show', id: featured_product.id %></h5>
    <h3><%= featured_product.price %><%= featured_product.cost_currency %></h3>
  </div>
</div>
