<%= provide( :title, 'PotepanEC' )%>

<!-- BANNER -->
<div class="bannercontainer">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <%= render "potepan/static_pages/fullscreen_banner" %>
    </div>
  </div>
</div>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row featuredCollection">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>人気カテゴリー</h4>
        </div>
      </div>
      <%= render partial: 'featured_collection' %>
    </div>
    <div class="row featured_products">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="owl-carousel featuredProducts featuredProductsSlider">
          <%= render partial: 'featured_product', collection: @featured_products %>
        </div>
      </div>
    </div>
    <div class="row latestArticles">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>お役立ち記事</h4>
        </div>
      </div>
      <%= render partial: 'latest_article' %>
    </div>
  </div>
</section>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix">
  <%= render 'potepan/static_pages/owl_carousel' %>
</section>
