<div class="row filterArea">
  <div class="col-xs-6">
    <select name="guiest_id1" id="guiest_id1" class="select-drop">
      <option value="0">Default sorting</option>
      <option value="1">Sort by popularity</option>
      <option value="2">Sort by rating</option>
      <option value="3">Sort by newness</option>
      <option value="3">Sort by price</option>
    </select>
  </div>
  <div class="col-xs-6">
    <div class="nav nav-tab">
      <div role="group" class="btn-group pull-right">
        <button href="#tab1" id="btn1" data-toggle="tab" class="btn btn-default on"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
        <button href="#tab2" id="btn2" data-toggle="tab" class="btn btn-default"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
      </div>
    </div>
  </div>
</div>
