<% @taxonomies.each do |taxon_root| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= taxon_root.name %></div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% (taxon_root.taxons).each do |taxon_children| %>
            <% next if taxon_children.depth == 0 %>
            <% if taxon_children.depth == 1 %>
              <li class="side-nav-list">
                <% if taxon_children.children.any? %>
                  <a><i class="fa fa-plus"></i><%= taxon_children.name %></a>
                <% else %>
                  <%= link_to taxon_children.name, potepan_category_path(taxon_children.id) %>
                <% end %>
                <% if taxon_children.children.any? %>
                  <ul id="<%= taxon_children.name.downcase %>" class="side-nav-close collapse collapseItem">
                    <% (taxon_children.children).each do |child| %>
                      <li>
                        <%= link_to potepan_category_path(child.id) do %>
                          <i class="fa fa-caret-right" aria-hidden="true"></i><%= child.name %> <span>(<%= child.products.size %>)</span></a>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
