<div class="row">
  <%= content_tag :div, paginate(@products_of_taxon), class: 'text-center' %>
  <% @products_of_taxon.each do |product| %>
      <div class="col-sm-4 col-xs-12">
        <div class="productBox">
          <div class="productImage clearfix">
            <%= image_tag(product.display_image.attachment(:small)) %>
            <div class="productMasking">
              <ul class="list-inline btn-group" role="group">
                <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                <li><a class="btn btn-default" data-toggle="modal" href=".quick-view" ><i class="fa fa-eye"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="productCaption clearfix">
            <h5><%= link_to product.name, potepan_product_path(product.id) %></h5>
            <h3><%= product.master.price %><%= product.cost_currency %></h3>
          </div>
        </div>
      </div>
  <% end %>
</div>
<%= content_tag :div, paginate(@products_of_taxon), class: 'text-center' %>
