<div class="row productListSingle">
  <%= content_tag :div, paginate(@products_of_taxon), class: 'text-center' %>
  <% @products_of_taxon.each do |product| %>
    <div class="col-xs-12">
      <div class="media">
        <div class="media-left">
          <%= image_tag(product.display_image.attachment(:product)) %>
          <span class="maskingImage"><a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to product.name, potepan_product_path(product.id) %></h4>
          <p><%= product.description %></p>
          <h3><%= product.master.price %><%= product.cost_currency %></h3>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal"><i class="fa fa-heart" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= content_tag :div, paginate(@products_of_taxon), class: 'text-center' %>
