<%= provide(:title, @taxon.name)%>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= yield(:title) %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to 'Home', potepan_root_path %>
          </li>
          <li>
            <%= link_to 'Shop', '#' %>
          </li>
          <li class="active">
              <%= @taxon.name %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="mainContent clearfix productsContent">
  <div class="container">
    <%= render 'potepan/shared/sidebar' %>
    <div class="col-md-9 col-sm-8 col-xs-12">
      <%= render 'potepan/shared/filter_products' %>
      <div class="tab-content">
        <div class="tab-pane on"><%= render 'potepan/categories/products_grid' %></div>
        <div class="tab-pane"><%= render 'potepan/categories/products_list' %></div>
      </div>
    </div>
  </div>
 </section>

 <%= render 'potepan/shared/modal_content' %>
