<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= yield(:title) %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to 'Home', potepan_root_path %>
          </li>
          <li>
            <%= link_to 'Shop', '#' %>
          </li>
          <li class="active">
            <%= yield(:title) %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
