<div class="row productListSingle">
  <%= content_tag :div, paginate(@variants), class: 'text-center' %>
  <% @variants.each do |variant| %>
    <div class="col-xs-12">
      <div class="media">
        <div class="media-left">
          <%= image_tag(variant.display_image.attachment(:product)) %>
          <span class="maskingImage"><a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to variant.name, potepan_product_path(variant.product.id) %></h4>
          <p><%= variant.description %></p>
          <p><%= @tshirt_size = variant.option_value('tshirt-size') %><%= "size" if @tshirt_size %></p>
          <h3><%= variant.price %><%= variant.cost_currency %></h3>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal"><i class="fa fa-heart" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= content_tag :div, paginate(@variants), class: 'text-center' %>
