<%= provide(:title, active_title(color: @color)) %>

<!-- LIGHT SECTION -->
<%= render 'light_section' %>

<section class="mainContent clearfix productsContent">
  <div class="container">
    <%= render 'potepan/shared/sidebar' %>
    <div class="col-md-9 col-sm-8 col-xs-12">
      <%= render 'potepan/shared/filter_products' %>
        <div class="tab-content">
          <div class="tab-pane on"><%= render 'potepan/products/products_grid_by_color_filter' %></div>
          <div class="tab-pane"><%= render 'potepan/products/products_list_by_color_filter' %></div>
        </div>
    </div>
  </div>
</section>

<%= render 'potepan/shared/modal_content' %>
