.nav.navbar-nav.side-nav li {
    padding: 0;
    margin: 0;
}
.nav.navbar-nav.side-nav li a{
    padding: 7px 0;
    display: block;
}
.nav.navbar-nav.side-nav li li {
    padding: 0;
    margin: 0 0 0 12px;
}
.nav.navbar-nav.side-nav li li a{
    padding: 7px 0;
    display: block;
}
.productCaption a{
    color: #252525;
    font-size:14px;
}
.productCaption a:hover{
    color: #47bac1;
}
.filterArea .btn-group{
    background: #fff;
    overflow: hidden;
}
.filterArea .tab-content > div {
    display: none;
}
.filterArea .btn-group .btn.on {
    background: #47bac1;
    color: #fff;
}
.filterArea .btn-group .btn.btn-default.on {
    border-color: #47bac1;
}
.productsContent .tab-content > div.on {
    display: block;
}
.side-nav-close{
    display: none;
}
.side-nav-list a{
    cursor: pointer;
}
.sub-list-item i, .navbar-side-collapse .side-nav li .collapseItem li a i, .sidebar-list li a i {
    left: -10px;
}
