<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/meta' %>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  <%= render 'layouts/rails_default_js' %>
  </body>
</html>
